#HomePageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buySellContainerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%
}