.signInFormContainer {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.signInPageContainer {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.signInImageContainer {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    flex: 1;
}

.imageWrapper {
    background-image: url("../../../public/images/sign-in-image.png");
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    background-position: center center;

}